---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tags from "../../components/Tags.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { getMetadata } from "../../libs/cms/microcms";

const tagId = Astro.url.searchParams.get("tag");
const metadata = await getMetadata();

const posts = await getCollection("blog", ({ data }) => {
  if (!tagId) return true;
  return data.tags?.some(
    (tag: { id: string; name: string }) => tag.id === tagId,
  );
});
---

<Layout
  title={metadata.title}
  description={metadata.description}
  siteTitle={metadata.title}
  siteDescription={metadata.description}
  footerCredit={metadata.credit}
>
  <section class="mx-auto w-full max-w-6xl px-4 py-10 sm:px-6 lg:px-8">
    <div class="mb-8 flex flex-col gap-3">
      <h1 class="text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl">
        記事一覧
      </h1>
    </div>

    <ul
      id="post-list"
      class="divide-y divide-slate-200 border-b border-slate-200"
    >
      {
        posts.map((post) => (
          <li
            data-tags={post.data.tags?.map((t) => t.id).join(",")}
            class="post-item"
          >
            <a
              href={`/blog/${post.id}/`}
              class="flex py-4 transition hover:text-slate-700 focus-visible:outline-none "
            >
              <div class="flex items-center justify-between gap-4">
                <div class="flex flex-col lg:flex-row gap-1 w-full items-center justify-between">
                  <h2 class="text-base font-medium leading-6 text-slate-900">
                    {post.data.title}
                  </h2>
                  <Tags tags={post.data.tags ?? []} />
                </div>
                <time
                  datetime={post.data.createdAt?.toISOString()}
                  class="shrink-0 text-sm text-slate-500"
                >
                  <FormattedDate date={new Date(post.data.createdAt ?? "")} />
                </time>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
<script>
  const params = new URLSearchParams(window.location.search);
  const tagId = params.get("tag");

  if (tagId) {
    const posts = document.querySelectorAll<HTMLElement>(
      "#post-list .post-item",
    );
    posts.forEach((post) => {
      const tags = post.dataset.tags ? post.dataset.tags.split(",") : [];
      if (!tags.includes(tagId)) {
        post.style.display = "none";
      }
    });
  }
</script>
