---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getMosaicSnippets } from "../libs/mosaic/mosaic";
import { getMetadata } from "../libs/cms/microcms";

const allPosts = await getCollection("blog");
const mosaicPieces = getMosaicSnippets(allPosts, 16);
const metadata = await getMetadata();
---

<Layout
  title={metadata.title}
  description={metadata.description}
  siteTitle={metadata.title}
  siteDescription={metadata.description}
  footerCredit={metadata.credit}
>
  <div class="mt-4">
    <div class="text-neutral-500">
      {
        mosaicPieces
          .map((piece, index) => {
            if (piece === "BLOG")
              return (
                <a
                  tabindex="1"
                  aria-hidden="false"
                  href="/blog"
                  class="text-blue-500 underline decoration-blue-500 font-bold"
                >
                  {piece}
                </a>
              );
            if (piece === "ABOUT")
              return (
                <a
                  tabindex="1"
                  aria-hidden="false"
                  href="/about"
                  class="text-blue-500 underline decoration-blue-500 font-bold"
                >
                  {piece}
                </a>
              );
            return <span aria-hidden="true">{piece}</span>;
          })
          .reduce((prev, curr) => [prev, " ", curr], [])
      }
    </div>
  </div>
</Layout>
