---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import type { ImageMetadata } from "astro";
import { getMetadata } from "../libs/cms/microcms";

const metadata = await getMetadata();
interface Props {
  title: string;
  description: string;
  siteTitle: string;
  image?: ImageMetadata;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  siteTitle,
  image = {
    src: metadata.eyecatch?.url ?? new URL("icon.svg", Astro.site).toString(),
    width: metadata.eyecatch?.width ?? 1920,
    height: metadata.eyecatch?.height ?? 630,
    alt: "",
  },
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- manage crawler -->
<meta name="robots" content="noindex, nofollow" />
<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<link rel="icon" href="/icon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={siteTitle}
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
